.intro__list {
  max-width: 690px;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .intro__list {
    line-height: 1.54; /* для подгона в пиксель перфект*/
  }
}


/* @media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__list {
    line-height: 1.54; для подгона в пиксель перфект
  }
} */
