.content__cover {
  margin-top: 92px;
  margin-bottom: 92px;
}

/* @media screen and (max-width: 1279px) {
  .content__cover {
    margin-top: 85px;
    margin-bottom: 92px;
  }
} */

@media screen and (max-width: 1023px) {
  .content__cover {
    margin-top: 88px; /*подравнял под пиксель перфект на 2рх*/
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .content__cover {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}
